<!DOCTYPE html>
<html>
<head>
    <title>Text Generation Evaluation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
</head>
<!-- <body class="is-preload"> -->
<!-- <div id="page-wrapper">
    <body> -->
    <!-- <header id="header">
        <h1 class="logo-text">Cultural Adaptation Project</h1>
        <nav id="nav">
        </nav>
    </header> -->
    <style>

        /* 居中对齐文本 */
        .center {
            text-align: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .submit_button {
            background-color: #4caf50;
            color: #fff;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            font-size: 16px;
            border-radius: 3px;
            width: auto
        }

        /* 左右模块布局 */
        .container {
            display: flex;
            justify-content: space-between;
        }

        /* 模块样式 */
        .module {
            flex: 1;
            padding: 20px;
            border: 1px solid #ccc;
            margin: 10px;
            text-align: center;
        }

        .info_container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 10vh;
        }

        .push_button {
            background-color: #4caf50;
            color: #fff;
            border-radius: 3px;
            display: inline-block;
            width: auto
        }

        .grammar-label {
            color: blue;
        }
        .warning-label {
            color: red;
        }

        .push_button:hover {
            opacity: 0.8;
        }

        .qs-content-wrapper {
            margin-top: 30px; /* Increase the margin-top to create space for the heading */
            text-align: center;
        }

        .module img {
    height: 200px; /* 设置图片的高度为200像素 */
    width: auto;   /* 宽度自适应 */
    display: block; /* 使图像居中显示 */
    margin: 0 auto; /* 设置左右外边距为auto，实现水平居中 */
}
    </style>

<div class="center">
    <h2>Penilaian kualitas pembuatan teks (tes perhatian)    </h2>
    <h4><u>Silakan baca dua deskripsi gambar dan dua kalimat di bawah ini dan beri nilai pada 5 pertanyaan di bawah ini.        <br>
    <span class="warning-label">Harap diperhatikan: Anda hanya dapat melanjutkan tugas penilaian formal jika Anda lulus tes konsentrasi.<br> Silakan ikuti tutorial di bawah ini untuk menyelesaikan pilihan Anda.</span></u></h4>
</div>
<!-- 左右模块布局 -->
<div class="container">
    <!-- 左边模块 -->
    <div class="module">
        <h3>Gambar kiri        </h3>
        <img src="{% static 'marvl_attention_check/comp_fig0.jpg' %}" alt="Image 1">
    </div>
    <!-- 右边模块 -->
    <div class="module">
        <h3>Gambar yang benar        </h3>
        <img src="{% static 'marvl_attention_check/comp_fig1.jpg' %}" alt="Image 2">
    </div>
</div>
<div class="container"><div class="module"><h4>Kalimat a: Pada gambar sebelah kiri, seorang gadis sedang menari sendirian, dan pada gambar sebelah kanan, beberapa orang sedang menari bersama.
</h4>
<h4>Kalimat b: Gadis di sebelah kiri menari balet dengan anggun sendirian, dan pemain di sebelah kanan menampilkan tarian flamenco.</h4></div>
</div>

<div class="qs-content-wrapper">
    <h2>Pertanyaan</h2>
    <!-- <h4><u>* 除非特殊说明, 以下问题的评估对象为文化适应后的食谱 (<span style="color:red">右</span>)，评分从<span style="color:red">1-7</span>分。</u></h4> -->
    <form id="questionnaire-form" method="get" action="{% url 'submit_compre_id_01' %}">
        <h4 for="q1"><span class="grammar-label">Benar --</span> Soal 1: Kalimat a dapat menggambarkan isi kedua gambar dengan benar.
            <br>(1 berarti salah sepenuhnya, 7 berarti benar sekali).</h4>
        <h5><u>Tips: Isi kalimat a disini pada dasarnya sudah benar, jadi anda bisa memilih 4-7 poin.</u></h5>
        <div class="rating-container">
            <input type="radio" id="q1-rating1" name="question1" value="1" required>
            <label for="q1-rating1">1</label>
            <input type="radio" id="q1-rating2" name="question1" value="2" required>
            <label for="q1-rating2">2</label>
            <input type="radio" id="q1-rating3" name="question1" value="3" required>
            <label for="q1-rating3">3</label>
            <input type="radio" id="q1-rating4" name="question1" value="4" required>
            <label for="q1-rating4">4</label>
            <input type="radio" id="q1-rating5" name="question1" value="5" required>
            <label for="q1-rating5">5</label>
            <input type="radio" id="q1-rating6" name="question1" value="6" required>
            <label for="q1-rating6">6</label>
            <input type="radio" id="q1-rating7" name="question1" value="7" required>
            <label for="q1-rating7">7</label>
        </div>
        <br>
        <h4 for="q2"><span class="grammar-label">Berisi budaya--</span> Pertanyaan 2: Isi deskriptif kalimat a berkaitan dengan atribut budaya.
            <br>(Skor 1 berarti tidak ada hubungannya dengan budaya; skor 7 berarti sangat berkaitan dengan budaya). </h4>
        <h5><u>Tip: Kalimat a di sini tidak ada hubungannya dengan deskripsi budaya, jadi Anda bisa memilih 1-3 poin.</u></h5>
        <div class="rating-container">
            <input type="radio" id="q2-rating1" name="question2" value="1" required>
            <label for="q2-rating1">1</label>
            <input type="radio" id="q2-rating2" name="question2" value="2" required>
            <label for="q2-rating2">2</label>
            <input type="radio" id="q2-rating3" name="question2" value="3" required>
            <label for="q2-rating3">3</label>
            <input type="radio" id="q2-rating4" name="question2" value="4" required>
            <label for="q2-rating4">4</label>
            <input type="radio" id="q2-rating5" name="question2" value="5" required>
            <label for="q2-rating5">5</label>
            <input type="radio" id="q2-rating6" name="question2" value="6" required>
            <label for="q2-rating6">6</label>
            <input type="radio" id="q2-rating7" name="question2" value="7" required>
            <label for="q2-rating7">7</label>
        </div>
        <br>
        <h4 for="q3"><span class="grammar-label">Benar--</span> Soal 3: Kalimat b dapat menggambarkan isi kedua gambar dengan benar. 
            <br>
            (1 berarti salah sepenuhnya, 7 berarti benar sekali).
        </h4>
        <h5><u>Tip: Isi kalimat b disini pada dasarnya benar, jadi anda bisa memilih 4-7 poin.        </u></h5>
        <div class="rating-container">
            <input type="radio" id="q3-rating1" name="question3" value="1" required>
            <label for="q3-rating1">1</label>
            <input type="radio" id="q3-rating2" name="question3" value="2" required>
            <label for="q3-rating2">2</label>
            <input type="radio" id="q3-rating3" name="question3" value="3" required>
            <label for="q3-rating3">3</label>
            <input type="radio" id="q3-rating4" name="question3" value="4" required>
            <label for="q3-rating4">4</label>
            <input type="radio" id="q3-rating5" name="question3" value="5" required>
            <label for="q3-rating5">5</label>
            <input type="radio" id="q3-rating6" name="question3" value="6" required>
            <label for="q3-rating6">6</label>
            <input type="radio" id="q3-rating7" name="question3" value="7" required>
            <label for="q3-rating7">7</label>
        </div>
        <br>
        <h4 for="q4"><span class="grammar-label">Berisi budaya--</span> Pertanyaan 4: Isi deskriptif kalimat b berkaitan dengan atribut budaya.
            <br>(Skor 1 berarti tidak ada hubungannya dengan budaya; skor 7 berarti sangat berkaitan dengan budaya).        </h4>
        <h5><u>Tip: Kalimat b di sini memiliki hubungan tertentu dengan deskripsi budaya, jadi Anda bisa memilih 4-7 poin.        </u></h5>
        <div class="rating-container">
            <input type="radio" id="q4-rating1" name="question4" value="1" required>
            <label for="q4-rating1">1</label>
            <input type="radio" id="q4-rating2" name="question4" value="2" required>
            <label for="q4-rating2">2</label>
            <input type="radio" id="q4-rating3" name="question4" value="3" required>
            <label for="q4-rating3">3</label>
            <input type="radio" id="q4-rating4" name="question4" value="4" required>
            <label for="q4-rating4">4</label>
            <input type="radio" id="q4-rating5" name="question4" value="5" required>
            <label for="q4-rating5">5</label>
            <input type="radio" id="q4-rating6" name="question4" value="6" required>
            <label for="q4-rating6">6</label>
            <input type="radio" id="q4-rating7" name="question4" value="7" required>
            <label for="q4-rating7">7</label>
        </div>
        <br>
        <h4 for="q5"><span class="grammar-label">Perbandingan teks--</span> Pertanyaan 5: Mempertimbangkan kebenaran dan kemampuan beradaptasi budaya,<br> kalimat a atau kalimat b manakah yang lebih cocok sebagai deskripsi kedua gambar tersebut?        </h4>
        <h5><u>Tip: Jelas kalimat b adalah deskripsi yang benar, dan dibandingkan dengan a, kalimat b lebih relevan dengan budaya, jadi pilihlah kalimat b.</u></h5>
        <div class="rating-container">
            <input type="radio" id="q5-rating1" name="question5" value="1" required>
            <label for="q5-rating1">1. Kalimat a</label>
            <input type="radio" id="q5-rating2" name="question5" value="2" required>
            <label for="q5-rating2">2. Kalimat b</label> <br>
            <input type="radio" id="q5-rating3" name="question5" value="3" required>
            <label for="q5-rating3">3. Dasi (kualitas sama, keduanya bagus)</label>
            <input type="radio" id="q5-rating4" name="question5" value="4" required>
            <label for="q5-rating4">4. Dasi (kualitas sama, keduanya jelek)</label>
            <br>
                <button type="submit" id="Submit_Button" class="submit_button">Kirim</button>
                <p id="user-progress" style="margin: 0;"></p>
                <p id="user-username" style="margin: 0;"></p>
                <input type="hidden" name="user_email" value="{{ request.GET.user_email }}">
        </div>
        <!-- Add more questions as needed -->
    </form>
</div>


<script>
    var startTime = new Date(); // 记录页面打开的时间
    // 当提交按钮点击时计算时间差并设置隐藏字段的值
    document.getElementById('Submit_Button').addEventListener('click', function () {
        var currentTime = new Date();
        var submissionTime = new Date(); // 当前时间作为提交时间
        var evaluationTime = Math.floor((currentTime - startTime) / 1000); // 将时间差转换为整数秒数
        // 设置隐藏字段的值
        document.getElementById('submission_time_field').value = submissionTime.toISOString();
        document.getElementById('evaluation_time_field').value = evaluationTime;
    });
</script>

</body>
</html>